{# src/OC/PlatformBundle/Resources/views/Louvre/indexform.html.twig #}
  


    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}

        <p>{{ form(form) }}</p>

