{# src/OC/PlatformBundle/Resources/views/Louvre/ticketform.html.twig #}



<div class="well">
    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
    

    {{ form(form) }}
    
</div>


