


nav.navbar.navbar-inverse {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    height: 65px;
}

a.navbar-brand {
    height: 80px;
    padding-left: 170%;
    margin-top: -15px;
}

.navbar-nav>li>a {
    line-height: 35px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

a#menubtn1 {
    background-color: #009688;
    height: 65px;
}

a#menubtn1:hover {
    background-color: #26a69a;
}


a#menubtn2 {
    background-color: #009688;
    height: 65px;
    margin-right: 235px;
    border-left: 1px solid white;
}

a#menubtn2:hover {
    background-color: #26a69a;
}


div#page_title.col-sm-12.center {
    border: 1px solid #000;
    background-color: #009688;
    width: 68%;
    margin-left: 19%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
    border-radius: 10px;
    text-align: center;
}

div#page_subtitle_1.col-sm-4.center {
    border: 1px solid #000;
    background-color: #fff;
    width: 22%;
    margin-left: 19%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}

div#page_subtitle_2_active.col-sm-4.center {
    border: 1px solid #000;
    background-color: lightgrey;
    width: 24%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
}

div#page_subtitle_3.col-sm-4.center {
    border: 1px solid #000;
    background-color: #fff;
    width: 22%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}

b, strong {
    line-height: 6;
}

div#blank1 {
    padding-bottom: 10px;
    margin: 20px;
}

div#blank2 {
    padding-bottom: 10px;
    margin: 20px;
}

footer.page-footer.teal {
    background-color: #009688;

}

div.footer-copyright {
    background-color: #26a69a;
    color: white;
    padding-right: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p.grey-text.text-lighten-4 {
    margin: 20px 50px 40px 50px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    text-align: justify;
    line-height: 2.8rem;
}

h5.white-text {
    margin: 20px 50px 40px 50px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: white;
    text-align: justify;
    line-height: 2.8rem;
}

.col.l12.s12 {
    margin-right: -40px;
    margin-left: -40px;
}

a.brown-text.text-lighten-3 {
    color: #bcaaa4;
    margin: 0 0 0 50px;
}

.btn-info {
    color: #fff;
    background-color: #26a69a;
    border-color: #26a69a;
    text-align: center;
    height: 36px;
    text-transform: uppercase;
}

.btn-info:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}


.btn-success {
    color: #fff;
    background-color: #26a69a;
    border-color: #26a69a;
    text-align: center;
    height: 36px;
    text-transform: uppercase;
}

.btn-success:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

/*
input.btn.btn-success {
    background-color: #26a69a;
}

input.btn.btn-success:hover {
    background-color: #26a69a;
}

input.btn.btn-success:active {
    background-color: #26a69a;
}
*/

#price {
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px 1px;
    width: 14.5%;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
    min-height: 25px;
}

p.p1 {
    width: 70%;
    margin: 0 10% 0 15%;
    padding-left: 4%;
}

p.p2 {
    width: 70%;
    margin: 0 10% 0 15%;
    padding-left: 4%;
}

@media all and (min-width: 993px) and (max-width: 1380px) {
    main {
        width: 80%;
    }
    a.navbar-brand {
        padding-left: 105%;
    }
    a#menubtn2 {
        margin-right: 140px;
    }
    p.p1 {
        width: 90%;
        margin: 11% 0 -10% 0;
        padding-left: 9%;
    }
    p.p2 {
        width: 90%;
        margin: 11% 0 -10% 0;
        padding-left: 9%;
    }
}

@media only screen and (max-width : 1024px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -60px;
    }
    a#menubtn2 {
        margin-right: 190px;
    }
    p.p1 {
        width: 100%;
        margin: -12% 0 0 0;
        padding-left: 6%;
    }
    p.p2 {
        width: 100%;
        margin: -12% 0 0 0;
        padding-left: 6%;
    }
    div#page_title.col-sm-12.center {
        margin-left: 12%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 12%;
     }
    p.grey-text.text-lighten-4 {
        margin: 20px 130px 40px 50px;
    }

}

@media all and (min-width: 820px) and (max-width: 992px) {
    main {
        width: 70%;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 195%;
    }
    p.p1 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 10%;
        font-size: 12px;
    }
    p.p2 {
         width: 100%;
         margin: 16% 0 -15% 0;
         padding-left: 10%;
         font-size: 12px;
    }
}

@media all and (min-width: 773px) and (max-width: 819px) {
    main {
        width: 70%;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 150%;
    }
    p.p1 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 10%;
        font-size: 12px;
    }
    p.p2 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 10%;
        font-size: 12px;
    }
}


@media all and (min-width: 601px) and (max-width: 772px) {
    main {
        width: 70%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 130%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 35px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: 5px 0 0 5px;
        width: 27%;
        padding: 24px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 35px;
        margin: -95px 0 0 493px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 25% 0 -25% 0;
        padding-left: 3%;
        font-size: 12px;
    }
    p.p2 {
        width: 100%;
        margin: 25% 0 -25% 0;
        padding-left: 3%;
        font-size: 12px;
    }
}


@media all and (max-width: 600px) {
    main {
        width: 55%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 30%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 25px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -75px 0 0 214px;
        width: 27%;
        padding: 15px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 25px;
        margin: -75px 0 0 375px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 3% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    p.p2 {
        width: 100%;
        margin: 3% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    b, strong {
        line-height: 3;
    }

}

@media all and (max-width: 480px) {
    main {
        width: 40%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 20%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 15px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -75px 0 0 139px;
        width: 27%;
        padding: 6px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 25px 0 25px 0;
        margin: -80px 0 0 244px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    p.p2 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 0;
    }

}

@media all and (max-width: 414px) {
    main {
        width: 40%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 24%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 10px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -65px 0 0 150px;
        width: 27%;
        padding: 10px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 20px 0 20px 0;
        margin: -65px 0 0 263px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    p.p2 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 0;
    }

}

@media all and (max-width: 412px) {
    main {
        width: 40%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 24%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 10px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -65px 0 0 151px;
        width: 27%;
        padding: 10px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 20px 0 20px 0;
        margin: -65px 0 0 265px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    p.p2 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 0;
    }

}

@media all and (max-width: 375px) {
    main {
        width: 40%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 23%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 15px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -75px 0 0 139px;
        width: 27%;
        padding: 6px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 25px 0 25px 0;
        margin: -80px 0 0 244px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    p.p2 {
        width: 100%;
        margin: 7% 0 5% 0;
        padding-left: 4%;
        font-size: 12px;
        text-align: center;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 0;
    }
    input.btn.btn-success {
        margin-left: 22px;
    }

}


@media all and (max-width: 360px) {
    main {
        width: 40%;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 20%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 10%;
        padding: 15px;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -75px 0 0 134px;
        width: 27%;
        padding: 4px;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 25px 0 25px 0;
        margin: -75px 0 0 235px;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 3% 0 3% 0;
        padding-left: 5%;
        font-size: 12px;
        text-align: center;
    }
    p.p2 {
        width: 100%;
        margin: 3% 0 3% 0;
        padding-left: 5%;
        font-size: 12px;
        text-align: center;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 0;
    }
    input.btn.btn-success {
        margin-left: 7px;
    }
}


