


nav.navbar.navbar-inverse {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    height: 65px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 0 0 360px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav>li>a {
    line-height: 35px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

a#menubtn1 {
    background-color: #009688;
    height: 65px;
}

a#menubtn1:hover {
    background-color: #26a69a;
}


a#menubtn2 {
    background-color: #009688;
    height: 65px;
    margin-right: 235px;
    border-left: 1px solid white;
}

a#menubtn2:hover {
    background-color: #26a69a;
}


div#page_title.col-sm-12.center {
    border: 1px solid #000;
    background-color: #009688;
    width: 68%;
    margin-left: 19%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
    border-radius: 10px;
    text-align: center;
}

div#page_subtitle_1.col-sm-4.center {
    border: 1px solid #000;
    background-color: #fff;
    width: 22%;
    margin-left: 19%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}

div#page_subtitle_2_active.col-sm-4.center {
    border: 1px solid #000;
    background-color: lightgrey;
    width: 24%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
}

div#page_subtitle_3.col-sm-4.center {
    border: 1px solid #000;
    background-color: #fff;
    width: 22%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}

b, strong {
    line-height: 6;
}

div#blank1 {
    padding-bottom: 10px;
    margin: 20px;
}

div#blank2 {
    padding-bottom: 10px;
    margin: 20px;
}

footer.page-footer.teal {
    background-color: #009688;

}

div.footer-copyright {
    background-color: #26a69a;
    color: white;
    padding-right: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p.grey-text.text-lighten-4 {
    margin: 20px 50px 40px 50px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    text-align: justify;
    line-height: 2.8rem;
}

h5.white-text {
    margin: 20px 50px 40px 50px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: white;
    text-align: justify;
    line-height: 2.8rem;
}

.col.l12.s12 {
    margin-right: -40px;
    margin-left: -40px;
}

a.brown-text.text-lighten-3 {
    color: #bcaaa4;
    margin: 0 0 0 50px;
}

.btn-info {
    color: #fff;
    background-color: #26a69a;
    border-color: #26a69a;
    text-align: center;
    height: 36px;
    text-transform: uppercase;
}

.btn-info:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}


.btn-success {
    color: #fff;
    background-color: #26a69a;
    border-color: #26a69a;
    text-align: center;
    height: 36px;
    text-transform: uppercase;
}

.btn-success:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

#price {
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px 1px;
    width: 14.5%;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
    min-height: 25px;
}

p.p1 {
    width: 70%;
    margin: 0 10% 0 15%;
    padding-left: 4%;
}

p.p2 {
    width: 70%;
    margin: 0 10% 0 15%;
    padding-left: 4%;
}

@media only screen and (min-width: 1025px) and (max-width: 1380px) {
    main {
        width: 80%;
    }
    .navbar-brand {
        padding: 0 0 0 270px;
    }
    a#menubtn2 {
        margin-right: 140px;
    }
    p.p1 {
        width: 90%;
        margin: 11% 0 -10% 0;
        padding-left: 9%;
    }
    p.p2 {
        width: 90%;
        margin: 11% 0 -10% 0;
        padding-left: 9%;
    }
}

@media only screen and (min-width: 993px) and (max-width : 1024px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -100px;
    }
    .navbar-brand {
        padding: 0 0 0 200px;
    }
    a#menubtn2 {
        margin-right: 190px;
    }
    p.p1 {
        width: 90%;
        margin: 12% 0 -8% 2%;
        padding: 0 9% 0 9%;
        text-align: center;
    }
    b, strong {
        line-height: 2;
    }
    p.p2 {
        width: 90%;
        margin: 12% 0 12% 0;
        padding-left: 9%;
    }
    div#page_title.col-sm-12.center {
        margin-left: 12%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 12%;
    }
    p.grey-text.text-lighten-4 {
        margin: 20px 130px 40px 50px;
    }

}



@media only screen and (min-width: 820px) and (max-width: 992px) {
    main {
        width: 70%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -25px;
    }
    div#page_title.col-sm-12.center {
        margin-left: 16%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin-left: 16%;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    p.p1 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 15%;
        font-size: 12px;
    }
    p.p2 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 15%;
        font-size: 12px;
    }

}

@media only screen and (min-width: 773px) and (max-width: 819px) {
    main {
        width: 70%;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    p.p1 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 10%;
        font-size: 12px;
    }
    p.p2 {
        width: 100%;
        margin: 16% 0 -15% 0;
        padding-left: 10%;
        font-size: 12px;
    }
    .navbar-brand {
        padding: 0 0 0 300px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 772px) {
    main {
        width: 70%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    .navbar-brand {
        padding: 0 0 0 300px;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 2%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: 0.5% 0 0 0.5%;
        width: 27%;
        padding: 2%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 2%;
        margin: 0.5% 0 0 0.5%;
        width: 26%;
    }
    p.p1 {
        width: 100%;
        margin: 20% 0 -20% 0;
        padding-left: 8%;
        font-size: 12px;
    }
    p.p2 {
        width: 100%;
        margin: 20% 0 -20% 0;
        padding-left: 8%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 5%;
    }
    p.grey-text.text-lighten-4 {
        margin: 20px 80px 20px 80px;
    }
    h5.white-text {
        margin: 20px 80px 20px 80px;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 30px;
    }
}


@media only screen and (max-width: 600px) {
    main {
        width: 55%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 35%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 3%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -10% 0 0 36.5%;
        width: 27%;
        padding: 1%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 2.8%;
        margin: -9.5% 0 0 64%;
        width: 26%;
    }
    p.p1 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    p.p2 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 5%;
    }
    b, strong {
        line-height: 3;
    }
    p.grey-text.text-lighten-4 {
        margin: 20px 80px 20px 80px;
    }
    h5.white-text {
        margin: 20px 80px 20px 80px;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 25px;
    }
}

@media only screen and (max-width: 480px) {
    main {
        width: 40%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 35px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 20%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 3%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -15.5% 0 0 36.5%;
        width: 27%;
        padding: 3%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 5.2%;
        margin: -15.5% 0 0 64%;
        width: 26%;
    }
    p.p1 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    p.p2 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 5%;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 8%;
    }

}

@media only screen and (max-width: 414px) {
    main {
        width: 40%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 24%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 2%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -15% 0 0 36.5%;
        width: 27%;
        padding: 2%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 4.8%;
        margin: -15% 0 0 64%;
        width: 26%;
    }
    p.p1 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    p.p2 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 5%;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 8%;
    }

}

@media only screen and (max-width: 412px) {
    main {
        width: 40%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 24%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 2%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -15% 0 0 36.5%;
        width: 27%;
        padding: 2%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 4.8%;
        margin: -15% 0 0 64%;
        width: 26%;
    }
    p.p1 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    p.p2 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 8%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 5%;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 8%;
    }

}

@media only screen and (max-width: 375px) {
    main {
        width: 40%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 3px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 23%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 1%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -14% 0 0 36.5%;
        width: 27%;
        padding: 1%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 4%;
        margin: -14.5% 0 0 64%;
        width: 26%;
    }
    p.p1 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 10%;
        font-size: 12px;
    }
    p.p2 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 10%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 5%;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 8%;
    }
    input.btn.btn-success {
        margin-left: 0;
    }

}


@media only screen and (max-width: 360px) {
    main {
        width: 40%;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 3px;
    }
    .navbar-inverse .navbar-toggle {
        display : none;
    }
    .navbar-toggle {
        display : none;
    }
    a#menubtn1 {
        display : none;
    }
    a#menubtn2 {
        display : none;
    }
    a.navbar-brand {
        padding-left: 20%;
    }
    div#page_title.col-sm-12.center {
        width: 80%;
        margin-left: 10%;
    }
    div#page_subtitle_1.col-sm-4.center {
        margin: 0.5% 0 0 10%;
        padding: 4%;
        width: 26%;
    }
    div#page_subtitle_2_active.col-sm-4.center {
        margin: -21% 0 0 36.5%;
        width: 27%;
        padding: 1%;
    }
    div#page_subtitle_3.col-sm-4.center {
        padding: 7% 0 7% 0;
        margin: -21% 0 0 64%;
        width: 26%;
    }
    p.p1 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 10%;
        font-size: 12px;
    }
    p.p2 {
        width: 90%;
        margin: 5% 0 0 0;
        padding-left: 10%;
        font-size: 12px;
    }
    .btn-info {
        margin-left: 7%;
    }
    a.brown-text.text-lighten-3 {
        margin: 0 0 0 8%;
    }
    input.btn.btn-success {
        margin-left: 22px;
    }
}




