/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.material-icons {
    font-size: 44px;
}

/* flashbag message - erreur paiement */

p#flash_msg {
    background-color: #ff8a80;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    font-size: 18px;
}


/* view resume */

.resume_billets.center {
    border-radius: 5px;
    border: 2px #009688 ridge;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

span.resume_total {
    margin-left: 30%;
}

h5#recap {
    border: 1px #000 solid;
    background-color: lightgray;
    border-radius: 5px;
    width: 60%;
    margin-left: 20%;
}

.col.s10.offset-s1.m10.offset-m1.l10.offset-l1.center.cadre_supp {
    padding: 2%;
}

div#cadre_done {
    border: 2px #009688 solid;
    border-radius: 10px;
    margin-top: 8%;
    padding: 1%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

button#paiement.col.s5.m5.l4.btn.waves-effect.waves-light {
    margin-left: 16%;
}

/* view payment */

span#totaleuro {
    border: 2px #26a69a solid;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
}

span#payer {
    border: 2px #26a69a solid;
    border-radius: 5px;
    padding: 1% 5% 1% 5%;
}

/* view date - sélection de la date */

#panel {
    display: none;
}

/* view date - message d'info */

#panel2 {
    display: none;
    background-color: #b2dfdb;
    margin: 6rem 0 2rem 0;
    padding: 1rem;
    border-radius: 10px;
}

label{
    font-size: 1.0rem;
    color: #000;
}

h5.header.col.s12.light a {
    text-decoration: none;
    color: #009688;
}

h5.header.col.s12.light a:hover {
    text-decoration: none;
    color: #5ed1c6;
}

div#blank1 {
    padding-bottom: 10px;
    margin: 20px;
}

div#blank2 {
    padding-bottom: 10px;
    margin: 20px;
}

div#blank3 {
    padding-bottom: 10px;
    margin: 20px;
}

div#blank4 {
    padding-bottom: 10px;
    margin: 20px;
}

ul#menuup.right.hide-on-med-and-down {
    background-color: #009688;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

ul#menuup.right.hide-on-med-and-down li {
    border-right: 1px solid #fff;
}


ul#menuup.right.hide-on-med-and-down a {
    color: #fff;
    text-decoration: none;
}

/* Menu Commander */

div#page_title.col.s12.m12.l12.center {
    border: 1px solid #000;
    background-color: #009688;
    margin-top: 2%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
    border-radius: 10px;
}

div#page_subtitle_1.col.s4.center {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

div#page_subtitle_1_active.col.s4.center {
    border: 1px solid #000;
    background-color: lightgrey;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

div#page_subtitle_2.col.s4.center {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

div#page_subtitle_2_active.col.s4.center {
    border: 1px solid #000;
    background-color: lightgrey;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

div#page_subtitle_3.col.s4.center {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

div#page_subtitle_3_active.col.s4.center {
    border: 1px solid #000;
    background-color: lightgrey;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

/* Menu Commander Resume */

div#page_subtitle_1_resume {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

div#page_subtitle_2_resume_active {
    border: 1px solid #000;
    background-color: lightgrey;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

div#page_subtitle_3_resume {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

/* Menu Commander Payment */

div#page_subtitle_1_payment {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

div#page_subtitle_2_payment {
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

div#page_subtitle_3_payment_active {
    border: 1px solid #000;
    background-color: lightgrey;
    margin-top: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

/* Menu end*/


div.container-1.center-align {
    min-height: 200px;
    padding: 55px 0;
}


a#ticket_order.btn.btn-info {
    background-color: #26a69a;
    text-align: center;
    margin: auto;
    padding: 40px 40px 68px 40px;
    display: inline-block;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

a#ticket_order.btn.btn-info:hover {
    background-color: #009688;
}


p.left-align.light,
p.grey-text.text-lighten-4 {
    text-align: justify;
}


.form-group{
    color: black;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 350px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media all and (min-width: 993px) and (max-width: 1380px) {
    span.resume_total {
        margin-left: 10%;
    }
}

@media only screen and (max-width : 1024px) {
    span.resume_total {
        margin-left: 10%;
    }
    p.resume_p1 {
        margin: 0 -60px 0 -60px;
    }
    p.resume_p2 {
        margin: 0 -60px 0 -60px;
    }
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    h5.header.col.s12.light {
        font-size: 18px;
    }
    h1.header.center.teal-text.text-lighten-2 {
        font-size: 44px;
    }
    a#ticket_order.btn.btn-info {
        font-size: 30px;
    }
    span.resume_total {
        margin-left: 30%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
    span.resume_total {
        margin-left: 30%;
    }
}


@media only screen and (max-width : 414px) {
    #index-banner .section {
        top: 0;
    }
    a#ticket_order.btn.btn-info {
        font-size: 20px;
    }
    div#page_subtitle_1_active.col.s4.center {
        padding: 15px;
    }
    div#page_subtitle_2.col.s4.center {
        padding: 3px;
    }
    div#page_subtitle_3.col.s4.center {
        padding: 15px;
    }
    a.col.s5.m5.l4.waves-effect.waves-light.btn {
        width: 25%;
    }
    i.col.s5.m5.l4.waves-effect.waves-light.btn.waves-input-wrapper {
        width: 58%;
    }
    span.resume_total {
        margin-left: 8%;
    }
    a#resume_btn1 {
        width: 41%;
    }
    a#resume_btn2 {
        width: 41%;
    }
    p.resume_p1 {
        margin: 0 -30px 20px -30px;
    }
    p.resume_p2 {
        margin: 0 -30px 20px -30px;
    }
    div#page_subtitle_1_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 16px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    div#page_subtitle_2_resume_active {
        border: 1px solid #000;
        background-color: lightgrey;
        margin-top: 5px;
        padding: 4px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
    }
    div#page_subtitle_3_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 16px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    h5#recap {
        font-size: 20px;
    }
    div#blank3 {
        display: none;
    }
    div#page_subtitle_1_payment {
        padding: 12px;
    }
    div#page_subtitle_2_payment {
        padding: 0;
    }
    div#page_subtitle_3_payment_active {
        padding: 12px;
    }

}

@media only screen and (max-width : 412px) {
    #index-banner .section {
        top: 0;
    }
    a#ticket_order.btn.btn-info {
        font-size: 20px;
    }
    div#page_subtitle_1_active.col.s4.center {
        padding: 15px;
    }
    div#page_subtitle_2.col.s4.center {
        padding: 3px;
    }
    div#page_subtitle_3.col.s4.center {
        padding: 15px;
    }
    a.col.s5.m5.l4.waves-effect.waves-light.btn {
        width: 25%;
    }
    i.col.s5.m5.l4.waves-effect.waves-light.btn.waves-input-wrapper {
        width: 58%;
    }
    span.resume_total {
        margin-left: 8%;
    }
    a#resume_btn1 {
        width: 41%;
    }
    a#resume_btn2 {
        width: 41%;
    }
    p.resume_p1 {
        margin: 0 -30px 20px -30px;
    }
    p.resume_p2 {
        margin: 0 -30px 20px -30px;
    }
    div#page_subtitle_1_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 16px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    div#page_subtitle_2_resume_active {
        border: 1px solid #000;
        background-color: lightgrey;
        margin-top: 5px;
        padding: 4px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
    }
    div#page_subtitle_3_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 16px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    h5#recap {
        font-size: 20px;
    }
    div#blank3 {
        display: none;
    }
    div#page_subtitle_1_payment {
        padding: 12px;
    }
    div#page_subtitle_2_payment {
        padding: 0;
    }
    div#page_subtitle_3_payment_active {
        padding: 12px;
    }

}

@media only screen and (max-width : 375px) {
    #index-banner .section {
        top: 0;
    }
    a#ticket_order.btn.btn-info {
        font-size: 20px;
    }
    div#page_subtitle_1_active.col.s4.center {
        padding: 11px;
    }
    div#page_subtitle_2.col.s4.center {
        padding: 10px;
    }
    div#page_subtitle_3.col.s4.center {
        padding: 22px;
    }
    a.col.s5.m5.l4.waves-effect.waves-light.btn {
        width: 22%;
    }
    i.col.s5.m5.l4.waves-effect.waves-light.btn.waves-input-wrapper {
        width: 61%;
    }
    span.resume_email {
        margin: 0 8% 0 8%;
    }
    span.resume_total {
        margin-left: 0;
    }
    a#resume_btn1 {
        width: 41%;
    }
    a#resume_btn2 {
        width: 41%;
    }
    p.resume_p1 {
        margin: 0 -30px 20px -30px;
    }
    p.resume_p2 {
        margin: 0 -30px 20px -30px;
    }
    div#page_subtitle_1_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 16px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    div#page_subtitle_2_resume_active {
        border: 1px solid #000;
        background-color: lightgrey;
        margin-top: 5px;
        padding: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
    }
    div#page_subtitle_3_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 26px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    h5#recap {
        font-size: 18px;
    }
    div#blank3 {
        display: none;
    }
    div#page_subtitle_1_payment {
        padding: 11px;
    }
    div#page_subtitle_2_payment {
        padding: 11px;
    }
    div#page_subtitle_3_payment_active {
        padding: 23px;
    }
}

@media only screen and (max-width : 360px) {
    #index-banner .section {
        top: 0;
    }
    a#ticket_order.btn.btn-info {
        font-size: 20px;
    }
    h1.header.center.teal-text.text-lighten-2 {
        font-size: 38px;
    }
    div#page_subtitle_1_active.col.s4.center {
        padding: 11px;
    }
    div#page_subtitle_2.col.s4.center {
        padding: 10px;
    }
    div#page_subtitle_3.col.s4.center {
        padding: 22px;
    }
    a.col.s5.m5.l4.waves-effect.waves-light.btn {
        width: 22%;
        padding: 0 0 0 0;
    }
    i.col.s5.m5.l4.waves-effect.waves-light.btn.waves-input-wrapper {
        width: 61%;
        padding: 0 0 0 0;
    }
    span.resume_total {
        margin-left: 8%;
    }
    a#resume_btn1 {
        width: 41%;
    }
    a#resume_btn2 {
        width: 41%;
    }
    p.resume_p1 {
        margin: 0 -30px 20px -30px;
    }
    p.resume_p2 {
        margin: 0 -30px 20px -30px;
    }
    div#page_subtitle_1_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    div#page_subtitle_2_resume_active {
        border: 1px solid #000;
        background-color: lightgrey;
        margin-top: 5px;
        padding: 14px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
    }
    div#page_subtitle_3_resume {
        border: 1px solid #000;
        background-color: #fff;
        margin-top: 5px;
        padding: 26px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        border-radius: 10px;
    }
    h5#recap {
        font-size: 18px;
    }
    div#blank3 {
        display: none;
    }
    div#page_subtitle_1_payment {
        padding: 11px;
    }
    div#page_subtitle_2_payment {
        padding: 11px;
    }
    div#page_subtitle_3_payment_active {
        padding: 23px;
    }
}